# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VisualMute.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Projects\VisualMute\.idea\.idea.VisualMute\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
